main{
    padding: var(--p-1);
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--p-1);


    & img{
        width: 100%;
    }
}

@media (width >= 80em) {
    main{
        padding: 1.5rem var(--p-2);
        gap: 1.5rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}